@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

/*?????*/
.container {
    max-width: 1280px;
    margin: 63px 100px 30px 100px;
    font-family: 'Roboto', sans-serif;
}

span {
    color: black;
}

.header__title {
    color: #4BCAFF;
    font-size: 80px;
    line-height: 94px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    margin-bottom: 38px;
    font-style: normal;
    font-weight: 400;
}

.nav {
    background-color: #35444F;
}

.nav__items {
    display: flex;
    justify-content: center;
}

.nav__item {
    padding: 26px 30px 19px 30px;
    border-left: 1px solid white;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.nav__item-link {
    color: #FFFFFF;
}

.nav__item:last-child {
    border-right: 1px solid white;
}

.nav__item:hover {
    background: #222F3A;
}

.main {
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
    padding-bottom: 54px;
    
}

.sidebar {
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000a9;
    width: 344px;
    height: 389px;
}

.sidebar__item-link {
    font-size: 27px;
    line-height: 27px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 44px;
    transition: 300ms;
    font-style: normal;
    font-weight: 400;
}

.sidebar__item-link:first-child {
    padding-top: 30px;
}

.sidebar__item-link:last-child {
    padding-bottom: 30px;
}

.sidebar__item-link:hover {
    background: #DBDBDB;
    padding-left: 60px;
    transition: 300ms;
}


.main__content-wrapper {
    display: flex;
    flex-direction: column;
    width: 885px;
    margin-left: 52px;
    flex-wrap: wrap;
}

.main__text-wrapper {
    width: fit-content;
    padding-top: 35.5px;
}

.main__text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.main__image-wrapper {
    padding: 74px 281px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000a9;
    width: 885px;
    height: 529px;
}

.main__image:hover {
    transform: scale(1.2);
    transition: 400ms;
}


.footer {
    background: rgba(99, 105, 110, 0.48);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__items {
    display: flex;
    align-items: center;
    padding-left: 25px;
}

.footer__item {
    padding: 17px;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    
}

.footer__item-link:hover {
    color: #3181A6;
    text-decoration: underline;
}

.footer__text {
    text-align: end;
    padding-right: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
}
